.loading-pokeball {
  animation: pulse 800ms infinite;
  width: 10vw;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
